@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #ccc;
    color: #001C3D;
}

p {
    margin-bottom: 0;
}

.otree-body {
    max-height: 100vh;
    overflow-y: hidden;
}

.otree-title, .otree-timer {
    display: none;
}

.debug-info {
    display: none;
}

.grid {
    display: grid;
}

.h-100vh {
    height: 100vh;
}

.btn {
    color: #001C3D !important;
}
.bg-um-blue {
    background-color: #001C3D;
}

.opacity-50 {
    opacity: 50%;
}

#asks-and-bids {
    min-height: 108px;
}

.nav-item {
    opacity: 50%;
}
.nav-item.active {
    opacity: 100%;
    border-bottom: 3px solid !important;
}

.square {
    border-radius: 0;
}

.btn-um-orange {
    background-color: #E84E10;
    color: #fff !important;
}
.btn-um-orange:hover {
    color: #fff;
    background-color: #cf4b17;
}

.overflow-y-auto {
    overflow-y: auto;
    overflow-x: hidden;
}
#orders {
    margin-right: -8px;
}
#orders::-webkit-scrollbar { 
    width: 4px;
}
#orders::-webkit-scrollbar-track {
    background: lightgrey;
    border-radius: 20px;
}
#orders::-webkit-scrollbar-thumb {
    background: #001C3D;
    border-radius: 20px;
}