{{ block title }}
Trade
{{ endblock }}
{{ block content }}

<p id="news" style="color: green"></p>

<!-- Display of countdown till market closing -->
<p>The market closes in <span id="time-left"></span> </p>

<script>
    let customTimerEle = document.getElementById('time-left');

    document.addEventListener("DOMContentLoaded", function (event) {
        $('.otree-timer__time-left').on('update.countdown', function (event) {
            customTimerEle.innerText = event.strftime('%W weeks %-d days %-H h %M min %S sec');
            liveSend({"type": "time_update"})
        });
    });

</script>


<b> General information </b>
<table class="table">

    <tr>
        <td>Market opening time</td>
        <th>
            {{ market_opening }}
        </th>
    </tr>

    <tr>
        <td>Market closing time</td>
        <th>
            {{ market_closing }}
        </th>
    </tr>

    <tr>
        <td>Price floor &nbsp; &nbsp; &nbsp; <small><b>Tooltip:</b> Buyers are not allowed to bid lower than
            the price floor. </small> </td>
        <th>
            {{ price_floor }}
        </th>
    </tr>

    <tr>
        <td>Price ceiling &nbsp; &nbsp; &nbsp; <small><b>Tooltip:</b> Sellers are not allowed to ask higher than
            the price ceiling. </small> </td>
        <th>
            {{ price_ceiling }}
        </th>
    </tr>

        <tr>
        <td>Taxes on sellers &nbsp; &nbsp; &nbsp; <small><b>Tooltip:</b> Per trade sellers will pay this share of the
            trading price in taxes. </small> </td>
        <th>
            {{ if taxation }}
                {{ seller_tax }} %
            {{ else }}
                -
            {{ endif }}
        </th>
    </tr>

        <tr>
        <td>Taxes on buyers &nbsp; &nbsp; &nbsp; <small><b>Tooltip:</b> Per trade buyers will pay this share of the trading price in taxes.
        </td>
        <th>
            {{ if taxation }}
                {{ buyer_tax }} %
            {{ else }}
                -
            {{ endif }}
        </th>
    </tr>
</table>
<br>
<br>

<b> Individual information </b>
<table class="table">
    <tr>
        <td>Your role</td>
        <th>
            {{ if player.is_buyer }}buyer{{ else }}seller{{ endif }}
        </th>
    </tr>
    <tr>
        <td>
            {{ if player.is_buyer }}
                Your current marginal utility (you should buy for less)
            {{ else }}
                Your current marginal costs (you should sell for more)
            {{ endif }}
        </td>
            <th id="marginal_evaluation"></th>
    </tr>
    <tr>
        <td>
            {{ if player.is_buyer }}
                Your current remaining consumption time (to enjoy your purchases)
            {{ else }}
                Your current remaining production time (to fulfill your order book)
            {{ endif }}
        </td>
            <th id="time_needed"></th>
    </tr>

    <tr>
        <td>{{ if player.is_buyer }}Your highest bid{{ else }}Your lowest ask{{ endif }}</td>
        <th id="current_offer"></th>
        <th id="current_offer_time"></th>
    </tr>
    <tr>
        <td>{{ if player.is_buyer }}All your bids (from high to low){{ else }}All your asks (from low to high){{ endif }}</td>
        <th id="offers"></th>
        <th id="offer_times"></th>
    </tr>

    <tr>
        <td>Your Balance</td>
        <th id="balance"></th>
    </tr>

{#    <tr>#}
{#        <td>My past trades</td>#}
{#        <th id="trading_prices"></th>#}
{#        <th id="trading_times"></th>#}
{#    </tr>#}

    <tr>
        <td>My past trades <br> <small> (in reverse chronological order, i.e. going back in time) </small></td>
        <th id="trading_history"></th>
    </tr>
</table>

<p id="error" style="color: red"></p>
<input type="number" id="my_offer">
<button type="button" onclick="sendOffer()" id="btn-offer">
    {{ if player.is_buyer }}Place bid{{ else }}Place ask{{ endif }}
</button>
<br><br>

<input type="number" id="my_withdrawal">
<button type="button" onclick="withdrawOffer()" id="btn-withdrawal">
    {{ if player.is_buyer }}Withdraw bid{{ else }}Withdraw ask{{ endif }}
</button>
<br><br>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h4>Bids (in points)</h4>
            <table id="bids_table"></table>
        </div>
        <div class="col-sm">
            <h4>Asks (in points)</h4>
            <table id="asks_table"></table>
        </div>
    </div>
</div>

<div>
    {{ if player.is_buyer }}
        {{ include 'double_auction/mu_chart.html' }}
    {{ else }}
        {{ include 'double_auction/mc_chart.html' }}
    {{ endif }}
</div>

<br><br>
{{ include 'double_auction/chart.html' }}


<script>

    let my_time_needed = document.getElementById('time_needed');
    let my_marginal_evaluation = document.getElementById('marginal_evaluation');
    let my_balance = document.getElementById('balance');
    let my_trading_prices = document.getElementById('trading_prices');
    let my_trading_times = document.getElementById('trading_times');
    let my_history = document.getElementById('trading_history');
    let bids_table = document.getElementById('bids_table');
    let asks_table = document.getElementById('asks_table');
    let my_id = js_vars.id_in_group;
    let news_div = document.getElementById('news');
    let is_buyer = js_vars.is_buyer;
    let btnOffer = document.getElementById('btn-offer');
    let my_offer = document.getElementById('my_offer');
    let my_withdrawal = document.getElementById('my_withdrawal');
    let error_div = document.getElementById('error');

    function showNews(msg) {
        news_div.innerText = msg;
        setTimeout(function () {
            news_div.innerText = ''
        }, 10000)
    }

    function showError(err) {
        error_div.innerText = err;
    }

    function cu(amount) {
        return `${amount} points`;
    }

    function sec(amount) {
        return `${amount} seconds`;
    }

    function linebreak(input) {
        return `${input}.replace(',','<br>')`;
    }

    function liveRecv(data) {
        console.log(data)
        // javascript destructuring assignment
        let {bids, asks, highcharts_series, current_offer, current_offer_time, balance, news, offers, offer_times,
            time_needed, marginal_evaluation, cost_chart_series, utility_chart_series, chart_point, error,
        trading_prices, trading_times, trading_history} = data;
        if (news) {
            let {buyer, seller, price, time} = news;
            if (buyer === my_id) {
                showNews(`You bought one unit  {#from player ${seller}#} for ${cu(price)} at ${time}.`);
            } else if (seller === my_id) {
                showNews(`You sold one unit {#to player ${buyer}#} for ${cu(price)} at ${time}.`);
            }
        }

        if (error) {
            showError(error);
        }

        if (data["offers"] == "") {
            document.getElementById('current_offer').innerText = "";
            document.getElementById('current_offer_time').innerText = "";
            document.getElementById('offers').innerText = "";
            document.getElementById('offer_times').innerText = "";
        }
        else {
            document.getElementById('current_offer').innerText = cu(current_offer);
            document.getElementById('current_offer_time').innerText = current_offer_time;
            document.getElementById('offers').innerHTML = offers.map(e => `<tr><th> ${e} points </tr></th>`).join(
                '<br>');
            {#document.getElementById('offer_times').innerText = offer_times;#}
            document.getElementById('offer_times').innerHTML = offer_times.map(e => `<tr><th> ${e} </tr></th>`).join(
                '<br>');
        }
        document.getElementById('balance').innerText = cu(balance);
{#        document.getElementById('trading_prices').innerHTML = trading_prices.map(
            e => `<tr><th> ${e} points </tr></th>`).join('<br>');
        document.getElementById('trading_times').innerHTML = trading_times.map(e => `<tr><th> ${e} </tr></th>`).join(
                '<br>');#}
        document.getElementById('trading_history').innerHTML = trading_history
{#        if (!is_buyer && num_items === 0) {
            btnOffer.disabled = true;
        }#}
        my_time_needed.innerHTML = sec(time_needed);
        my_marginal_evaluation.innerHTML = cu(marginal_evaluation);
        bids_table.innerHTML = bids.map(e => `<tr><th> ${e} </tr></th>`).join(
                '<br>');
        asks_table.innerHTML = asks.map(e => `<tr><th> ${e} </tr></th>`).join(
                '<br>');
        {#redrawChart(highcharts_series);#}
        if (data["refresh_counter"] == 0 && !is_buyer) {
            redrawCost(cost_chart_series, chart_point);
        }
        else if (data["refresh_counter"] == 0 && is_buyer) {
            redrawUtility(utility_chart_series, chart_point);
        }
    }

    function sendOffer() {
        liveSend({"type": "offer", "offer": my_offer.value})
        error_div.innerText = ''
    }

    function withdrawOffer() {
        liveSend({"type": "withdrawal", "withdrawal": my_withdrawal.value})
    }

    my_offer.addEventListener("keydown", function (event) {
        if (event.key === "Enter") {
            sendOffer();
        }
    });

    my_withdrawal.addEventListener("keydown", function (event) {
        if (event.key === "Enter") {
            withdrawOffer();
        }
    });

    document.addEventListener('DOMContentLoaded', (event) => {
        liveSend({})
    });
</script>

{{ endblock }}
