{% extends "global/Page.html" %} {% load otree %} {{ block title }} Double
Auction Market {{ endblock }} {{ block content }}

<div
  id="app"
  class="row grid h-100vh"
  style="grid-template-rows: min-content minmax(0, 1fr) min-content"
>

  <div class="toast-container position-absolute top-0 start-50 translate-middle-x z-index-1 pt-2 overflow-hidden mh-100">
    <div v-for="(message, index) in messages" :key="index" class="toast d-flex flex-column bg-um-orange text-white" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body">
          [[ message.text ]]
        </div>
        <button type="button" class="btn-close me-2 m-auto" @click="removeMessage(index)" aria-label="Close"></button>
      </div>
      <small class="align-self-end m-2 mt-0">[[ message.time ]]</small>
    </div>
  </div>

{{ if player.is_admin }}
  <header class="bg-um-blue text-white pb-1">
    <div class="row">
      <div class="col">
        <h1 class="fw-light">
          Admin Page
        </h1>
      </div>
        <div class="col-auto">
          <p id="admin_description" class="text-end opacity-50">
            You can change the market parameters here...<br>
          </p>
        </div>
      <p style="margin-bottom:1cm;">
    </div>
  </header>

  <main class="bg-white grid" style="grid-template-rows: min-content min-content minmax(0 ,1fr);">
    <div class="row">
      <p style="margin-bottom:1cm;">
      <div class="col-auto d-flex">
        <p class="fw-bolder">Tax on buyers in percent:</p>
      </div>
      <div class="col text-end">
        <p><input type="number" id="buyer_tax_admin"></p>
      </div>
    </div>

    <div class="row">
      <p style="margin-bottom:0.5cm;">
      <div class="col-auto d-flex">
        <p class="fw-bolder">Tax on sellers in percent:</p>
      </div>
      <div class="col text-end">
        <p><input type="number" id="seller_tax_admin"></p>
      </div>
    </div>

    <div class="row">
      <p style="margin-bottom:0.5cm;">
      <div class="col-auto d-flex">
        <p class="fw-bolder">Price ceiling:</p>
      </div>
      <div class="col text-end">
        <p><input type="number" id="price_ceiling_admin"></p>
      </div>
    </div>

     <div class="row">
      <p style="margin-bottom:0.5cm;">
      <div class="col-auto d-flex">
        <p class="fw-bolder">Price floor:</p>
      </div>
      <div class="col text-end">
        <p><input type="number" id="price_floor_admin"></p>
      </div>
      <p style="margin-bottom:1cm;">
    </div>
  </main>

  <footer class="bg-um-blue text-white pt-1 pb-2">
    <div class="row">
      <p style="margin-bottom:0.5cm;">
      <div class="col d-flex justify-content-end">
        <button
          class="btn btn-um-orange fw-bold"
          type="button"
          id="btn-update-market"
          @click="updateMarket"
        >Update Market
        </button>
      </div>
    </div>
  </footer>
{{ else }}

    <header class="bg-um-blue text-white pb-1">
      <div class="row">
        <div class="col">
          <h1 class="fw-light">
            {{ if player.is_buyer }}Buyer{{ else }}Seller{{ endif }}
          </h1>
        </div>
        <div class="col-auto">
          <p id="market_closing_time" class="text-end opacity-50">
            Market closing time<br />{{ market_closing }}
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-auto d-flex">
          <p class="fw-bolder me-1">Profit</p>
          <div
          class="d-flex"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          title="Your profit from past trades (net, i.e. after tax)"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-info-circle-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"
            />
          </svg>
        </div>
        </div>
        <div class="col text-end">
          <p><span v-html="data.balance"></span></p>
        </div>
      </div>
      <div class="row">
        <div class="col-auto d-flex">
          <p class="fw-bolder me-1">Buyer Tax</p>
          <div
          class="d-flex"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          title="Tax to be paid by buyers on the trading price"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-info-circle-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"
            />
          </svg>
        </div>
        </div>
        <div class="col text-end">
          <p>[[ data.buyer_tax ]]</p>
        </div>
      </div>
      <div class="row">
        <div class="col-auto d-flex">
          <p class="fw-bolder me-1">Seller Tax</p>
          <div
          class="d-flex"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          title="Tax to be paid by sellers on the trading price"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-info-circle-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"
            />
          </svg>
        </div>
        </div>
        <div class="col text-end">
          <p>{{ seller_tax }} %</p>
        </div>x
      </div>
      <div class="row">
        <div class="col-auto d-flex">
          <p class="fw-bolder me-1">Price ceiling (Pc)</p>
          <div
            class="d-flex"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Sellers are not allowed to ask higher than the price ceiling"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-info-circle-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"
              />
            </svg>
          </div>
        </div>
        <div class="col text-end">
          <p>{{ price_ceiling }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-auto d-flex">
          <p class="fw-bolder me-1">Price floor (Pf)</p>
          <div
            class="d-flex"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="Buyers are not allowed to bid lower than the price floor"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-info-circle-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"
              />
            </svg>
          </div>
        </div>
        <div class="col text-end">
          <p>{{ price_floor }}</p>
        </div>
      </div>
    </header>

    <main class="bg-white grid" style="grid-template-rows: min-content min-content minmax(0 ,1fr);">
      <div id="asks-and-bids" class="row pt-2 pb-1">
        <div class="col text-end">
          <p class="fw-bold pe-1">Asks</p>
          <ul class="list-unstyled mb-0">
            <li v-for="(ask, index) in lowestAsks"
            :class="{ 'highlight fw-bold': playerId === ask.asker }"
            class="pe-1"
            :key="index">[[ ask.ask ]]</li>
          </ul>
        </div>
        <div class="col text-end">
          <p class="fw-bold pe-1">Bids</p>
          <ul class="list-unstyled mb-0">
            <li v-for="(bid, index) in highestBids"
            :class="{ 'highlight fw-bold': playerId === bid.bidder }"
            class="pe-1"
            :key="index">[[ bid.bid ]]</li>
          </ul>
        </div>
      </div>

      <nav class="row">
        <div class="col">
          <ul class="nav pt-2">
            <li>
              <button
                class="nav-item btn p-0 square border-0 me-3"
                :class="tab === 'open-orders' ? 'active' : ''"
                @click.prevent="setTabTo('open-orders')"
              >
                Open orders
              </button>
            </li>
            <li>
              <button
                class="nav-item btn p-0 square border-0 me-3"
                :class="tab === 'history' ? 'active' : ''"
                @click.prevent="setTabTo('history')"
              >
                History
              </button>
            </li>
            <li>
              <button
                class="nav-item btn p-0 square border-0"
                :class="tab === 'graph' ? 'active' : ''"
                @click.prevent="setTabTo('graph')"
              >
              {{ if player.is_buyer }}MU{{ else }}MC{{ endif }} graph
              </button>
            </li>
          </ul>
        </div>
      </nav>
      <ul id="orders" v-show="tab === 'open-orders'" class="list-unstyled mt-1 mb-0 pt-1 pe-2 overflow-y-auto">
        <li v-for="(order, index) in openOrders" :key="index">
          <div class="row mb-2 order">
            <div class="col pe-0"><span v-html="order.offer"></div>
            <div class="col-auto p-0">[[ order.offer_time ]]</div>
            <div class="col-auto">
              <button class="btn p-0" style="margin-top: -.5rem" @click.prevent="withdrawOffer(order.offer)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
                  <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
                </svg>
              </button>
            </div>
          </div>
        </li>
        <p v-if="!openOrders.length">You have no open orders yet</p>
      </ul>
      <div id="history" v-show="tab === 'history'" class="w-100 flex-column mt-1 mb-0 overflow-auto" style="display: flex">
        <table v-if="tradingHistory.length" class="table table-borderless table-sm">
          <thead>
            <tr>
              <th scope="col">Offer</th>
              <th scope="col">Tax</th>
              <th scope="col">Profit</th>
              <th scope="col">Pc</th>
              <th scope="col">Pf</th>
              <th scope="col">Date</th>
            </tr>
          </thead>
          <tbody class="w-max-content">
            <tr v-for="(trade, index) in tradingHistory" :key="index">
              <td><div class="w-max-content" v-html="trade.price"></td>
              <td><div class="w-max-content">[[ trade.tax_on_buyer ]]</div></td>
              <td><div class="w-max-content" v-html="trade.profit_from_trade"></div></td>
              <td><div class="w-max-content" v-html="trade.price_ceiling"></div></td>
              <td><div class="w-max-content" v-html="trade.price_floor"></div></td>
              <td><div class="w-max-content">[[ trade.time ]]</div></td>
            </tr>
          </tbody>
        </table>
        <p v-else class="pt-1">You have no history yet</p>
      </div>
      <div id="graph" v-show="tab === 'graph'" class="mt-2 overflow-y-auto">
        {{ if player.is_buyer }}
          <div id="mu_chart"></div>
        {{ else }}
          <div id="mc_chart"></div>
        {{ endif }}
      </div>
    </main>

    <footer class="bg-um-blue text-white pt-1 pb-2">
      <div class="row">
        <div class="col-auto d-flex">
          <p class="fw-bolder me-1">
            Marginal {{ if player.is_buyer }}Utility (MU){{ else }}Cost (MC){{ endif }}
          </p>
          <div
            class="d-flex"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="You want to {{ if player.is_buyer }}buy lower{{ else }}sell higher{{ endif }} than
            this number"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-info-circle-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"
              />
            </svg>
          </div>
        </div>
        <div class="col text-end"><span v-html="data.marginal_evaluation"></span></div>
      </div>
      <div class="row">
        <div class="col-auto">
          <p class="fw-bolder">
            {{ if player.is_buyer }}Consumption{{ else }}Production{{ endif }}
            time
          </p>
        </div>
        <div class="col text-end">
          <p>[[ data.time_needed ]] seconds</p>
        </div>
      </div>

      <div class="row">
        <div class="col d-flex justify-content-end">
          <div class="input-group mt-2">
            <input
              type="number"
              step="1"
              class="form-control text-end"
              placeholder="Your Offer in"
              aria-label="Your Offer in"
              aria-describedby="button-offer"
              v-model="offer"
              @keydown.enter.prevent="sendOffer"
            />
            <button
              class="btn btn-um-orange fw-bold"
              type="button"
              id="button-offer"
              @click="sendOffer"
            >
              {{ if player.is_buyer }}BID{{ else }}ASK{{ endif }}
            </button>
          </div>
        </div>
      </div>
    </footer>
  </div>
{{ endif }}

{{ endblock }} {{ block scripts }}
<script src="https://unpkg.com/vue@3"></script>
<script>
  let app = Vue.createApp({
    data() {
      return {
        data: {},
        offer: null,
        buyer_tax_admin: null,
        tab: 'open-orders',
        messages: []
      };
    },

    async mounted() {
      liveSocket.onmessage = async function (e) {
        console.log(e.data);
        this.data = JSON.parse(e.data);
        console.log(this.data)
        this.drawMarginChart();

        let news = null;
        if (this.data.news) news = this.data.news;
        if (news && !this.messages.some(message => message.time === news.time)) {
          this.messages.push({ time: news.time, text: news.message });
          localStorage.setItem('messages', JSON.stringify(this.messages))
          await new Promise(res => setTimeout(res, 100))
          this.showToastMessages()
        }
      }.bind(this);

      this.messages = JSON.parse(localStorage.getItem('messages')) || []
      await new Promise(res => setTimeout(res, 100))
      this.showToastMessages()
    },

    computed: {
      lowestAsks() {
        return this.data.asks?.sort((a, b) => b.ask - a.ask).slice(-3);
      },
      highestBids() {
        return this.data.bids?.sort((a, b) => b.bid - a.bid).slice(0, 3);
      },
      openOrders() {
        const openOrders = this.data.offer_history ?? [];

        openOrders.sort(function(a, b) {
          return Date.parse(b.offer_time) - Date.parse(a.offer_time)
        })

        return openOrders;
      },
      tradingHistory() {
        const tradingHistory = this.data.trading_history ?? [];

        tradingHistory.sort(function(a, b) {
          return Date.parse(b.offer_time) - Date.parse(a.offer_time)
        })

        return tradingHistory;
      },
      playerId() {
        return js_vars.id_in_group
      },
      playerHash() {
        const splitPathname = window.location.pathname.split('/')
        const pPosition = splitPathname.indexOf('p')
        return splitPathname[pPosition + 1]
      }
    },

    methods: {
      removeMessage(index) {
        this.messages.splice(index, 1)
        localStorage.setItem('messages', JSON.stringify(this.messages))
      },
      setTabTo(value) {
        this.tab = value
      },
      sendOffer() {
        if (!this.offer) return
        liveSend({ type: "offer", offer: this.offer });
        this.offer = null;
      },
      withdrawOffer(offer) {
        liveSend({"type": "withdrawal", "withdrawal": offer})
      },
      updateMarket() {
        liveSend({
          "type": "market_update",
          "buyer_tax_admin": this.buyer_tax_admin
        })
        console.log("Market update sent!");
      },
      drawMarginChart() {
        if (js_vars.is_buyer) {
          redrawUtility(this.data.utility_chart_series, this.data.chart_point)
          return
        }
        redrawCost(this.data.cost_chart_series, this.data.chart_point)
      },
      showToastMessages() {
        [].slice.call(document.querySelectorAll('.toast'))
          .map(toastEl => new bootstrap.Toast(toastEl, { autohide: false }))
          .forEach(toast => toast.show())
      }
    },
  });

  app.config.compilerOptions.delimiters = ["[[", "]]"];
  app.mount("#app");

  document.addEventListener("DOMContentLoaded", () => {
    liveSend({});
    $('.otree-timer__time-left').on('update.countdown', () => {
      liveSend({"type": "time_update"})
    });
  });

  // Initialize tooltips with javascript
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
  	return new bootstrap.Tooltip(tooltipTriggerEl)
  })
</script>

{{ endblock scripts }}
